// AUV resources
link(rel='import', href='../auv-card/auv-card.html')
// Polymer resources
link(rel='import', href='../../font-roboto/roboto.html')
link(rel='import', href='../../polymer-ui-card/polymer-ui-card.html')
