// AUV resources
link(rel='import', href='../auv-card/auv-card.html')
// Polymer resources

link(rel='import', href='../../font-roboto/roboto.html')
link(rel='import', href='../../polymer-ui-card/polymer-ui-card.html')
link(rel='import', href='../../core-scaffold/core-scaffold.html')
link(rel='import', href='../../core-toolbar/core-toolbar.html')
link(rel='import', href='../../core-menu/core-menu.html')
link(rel='import', href='../../core-item/core-item.html')
link(rel='import', href='../../core-header-panel/core-header-panel.html')
link(rel='import', href='../../core-drawer-panel/core-drawer-panel.html')