[submodule "rosserial"]
    path=catkin_ws/src/rosserial
url=https://github.com/dlavoieb/rosserial.git

[submodule "catkin_ws/src/camera_umd"]
	path = catkin_ws/src/camera_umd
	url = https://github.com/ktossell/camera_umd.git
