link(rel='import', href='../../polymer/polymer.html')
link(rel='import', href='../../core-list/core-list.html')
link(rel='import', href='../auv-card/auv-card.html')

polymer-element(name='auv-log')
    template
        link(rel='stylesheet', href='auv-log.css')
        auv-card(z='1')
            core-list
    script(src='auv-log.js')
