doctype html
html(lang='en')
  head

    //- Compatibility
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='description', content='Rover Monitoring ')

    //- Title
    title= title

    //- Scripts
    link(rel='stylesheet', href='style/style.css', shim-shadowdom)

    link(rel='import', href='components/elements/index_elements.html')
    script(src='js/main.js')
    script(src='/socket.io/socket.io.js')
    script(src='//code.jquery.com/jquery-1.7.2.min.js')
    script(src='http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js')
    script(src='http://cdn.robotwebtools.org/EaselJS/current/easeljs.min.js')
    script(src='http://cdn.robotwebtools.org/ros2djs/current/ros2d.min.js')
    script(src='http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js')


    
    body()
        template(is="auto-binding")   
            core-scaffold#scaffold
                nav
                    core-toolbar#navheader
                        span Artemis
                    core-menu(valueattr="hash" selected="{{route}}")
                        template(repeat="{{page in pages}}")
                             core-item(hash="{{page.hash}}" noink)
                                a(href="#{{page.hash}}") {{page.name}}
                
                core-toolbar#mainheader(tool flex)
                    .flex(flex) 
                    paper-icon-button#navicon(icon="menu")
                    span 
                    .toolbar_info Uptime:
                        #uptime 24:24:24
                    .toolbar_info Voltage:
                        #voltage 100V
                    .toolbar_info Current:
                        #current 100AMP
                    .toolbar_info Speed:
                        #gps 99m/s
                .content(layout horizontal center-center fit)
                    core-animated-pages(valueattr="hash" selected="{{route}}" transitions="slide-from-right")
                        template(repeat="{{page in pages}}")
                            section(hash="{{page.hash}}" layout vertical center-center)
                                .pagename
                                    {{page.name}}

     
        script.
            var template = document.querySelector('template[is="auto-binding');
            template.pages =[
                {name: 'All' , hash : 'all'},
                {name: 'Battery', hash :'battery'},
                {name: 'Science' , hash : 'science'},
                {name: 'Navigation' , hash : 'navigation'},
                {name: 'Encoders' , hash : 'encoders'},
                {name: 'Arm' , hash : 'arm'}
            ];


    


        















































































                        //- core-animated-pages(selected="0" transitions="slide-from-right")
                        //-     section(layout vertical center-center)
                        //-         .single Test 123
                        //-     section(layout vertical center-center) 
                        //-         .page ssadas
                        //-             #time
                        //-             #sendPose1
                        //-             #sendPose2
                        //-             #sendPose3
                        //-             #sendPose4  

               


   


  
        