:host
    background-color #fff
    border-radius 2px
    box-shadow rgba(0, 0, 0, 0.098) 0px 2px 4px, rgba(0, 0, 0, 0.098) 0px 0px 3px
    -webkit-transition all 0.30s ease-out
    transition all 0.30s ease-out

:host(.darkshadow:host)
    box-shadow rgba(0, 0, 0, 0.14902) 0px 2px 4px, rgba(0, 0, 0, 0.14902) 0px 0px 3px

#cardcontent
    padding 5px

//:host {
//  background-color: #fff;
//  border-radius: 2px;
//  box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px, rgba(0, 0, 0, 0.098) 0px 0px 3px;
//  /* transition */
//  -webkit-transition: all 0.30s ease-out;
//  transition: all 0.30s ease-out;
//}
//
//:host(.dark-shadow:host) {
//  box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 4px, rgba(0, 0, 0, 0.14902) 0px 0px 3px;
//}
//
//:host
//    display block
//    background white
//    width 400px
//    height auto
//    position relative
//    border-radius 2px
//
//@media all and (max-width: 400px)
//    :host
//        width 275px


