link(rel='import', href='../../polymer/polymer.html')

polymer-element(name='example')
    template
        link(rel='stylesheet', href='example.css')
        //- Add template html for custom element here
    script(src='example.js')
