html, body
    height 100%
    padding 0
    margin 0

body
    font-family 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial
    font-weight 300
    background-color #f1f1f3

h2, h3
    font-weight 300
    margin 0

h3
    font-weight 400

.heading
    color #009688

polymer-ui-card
    display block
    width 400px
    margin 20px auto
    padding 5px

auv-card
    display block
    width 400px
    margin 20px auto

#navheader {

  
}

content 
  padding: 20px


core-toolbar {
  color : black;
  background-color : white;
}



.toolbar_info {
    
    padding : 0.1em 1em 0.1em 0.1em
    border-radius: 0.1em;
    font-size : 0.7em;
    font-color : black;
}

core-animated-pages {
  width: 95%;
  height: 95%;
  -webkit-user-select: none;
  overflow: hidden;
}

core-animated-pages > * {
  border-radius: 5px;
  font-size: 50px;
  background-color: white;
}


core-item a {
  text-decoration: none;
  color: currentcolor;
  margin-left: 5px;
}

core-menu > core-item.core-selected {
  background: #526E9C;
}