<launch>
	<rosparam command="load" file="$(find odometry)/config/radius.yaml"/>
	<rosparam command="load" file="$(find control_systems)/params.yaml"/>
	<node name="arm_simulator" pkg="simulated_data" type="arm_sim.py" 	respawn="false" output="screen"/>
	<node name="arm_reader" pkg="control_systems" type="arm_read.py" 	respawn="false" output="screen"/>
	<node name="joy_sim" pkg="simulated_data" type="joystick_sim.py" respawn="false" output="screen"/> 
    <node name="steering" pkg="control_systems" type="joystickread.py" respawn="false" output="screen"/> 
</launch>
